.example-spacer {
  flex: 1 1 auto;
}

.img {
  margin-top: 10px;
}

button {
  margin: 5px;
}

.center-button {
  margin-right: 350px;
}

.user-greeting {
  margin-right: 20px;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

